[2019-05-30 17:30] ProfiSkiller opened #1 "Volume not working"

[2019-05-31 09:10] LarsBaertschi commented on #1
Hey ProfiSkiller,

thank you for raising this issue. I just checked, and I am able to change the volume when using the following Versions:
OBS Studio (64 bit): 23.1.0
OBS Websocket: 4.6.1

Code I used to test:

[code]
Please note that the volume is not linear. This is due to the OBS Api.

Please also note that the number has to be between 0.0 and 1.0, you may not specify percent (80).

If this doe

[2019-06-03 20:51] Janisbtw opened #2 "Can't make Source (in)visible"
I tried to make a source invisible but nothing happens. I tested it with following code:
Map<String, Object> m = new HashMap<>();
m.put("visible", "false");
controller.setSourceSettings("Bildschirmaufnahme", m, res -> {

});
Btw, if it's possible can you add a method to check if something is muted and start/stop recording?
Is it possible to make a source (in)visible while not on Scene where the so

[2019-06-05 08:04] #1 closed

[2020-01-09 21:03] ExtremTechniker opened #3 "Not Usable"
Please push your Repository to the Maven Repository Server to use the code in various projects or if not please make an compiled jar file to use it locally and then make therefor an first release

[2020-01-22 15:13] DieserMerlin commented on #3
We have it in our development repository. Just add this repo to your pom:

artifactory.twasi.net

[2020-01-23 09:53] LarsBaertschi commented on #3
Hey, thank you for raising this issue. We agree that this is a concern and therfore requested a project on maven central:
https://issues.sonatype.org/browse/OSSRH-54694

We'll let you know as soon as it's available. In the meantime, we have also deployed it to our artifactory instance. You can find it here: https://artifactory.twasi.net/artifactory/webapp/#/artifacts/browse/tree/General/libs-relea

[2020-01-24 10:52] LarsBaertschi commented on #3
Our artifact is now available on maven central.

https://mvnrepository.com/artifact/net.twasi/obs-websocket-java/1.0.1

[2020-01-24 10:52] #3 closed

[2020-04-17 12:24] LarsBaertschi commented on #2
Library seems to work as expected. Settings object is serialized and passed to obs-websocket, so you maybe need to check if there is an issue there hindering you hiding the scene.

[2020-04-17 12:24] #2 closed

[2020-04-18 19:41] cluder opened #7 "Replace System.out / System.err with Logs"
OBSCommunicator.java contains various System.out calls they should be replaced with logs, so we can enable / disable them easier.

[2020-04-27 09:06] LarsBaertschi commented on #7
I agree, I will have a look and implement proper login soon!

[2020-05-01 12:02] cluder commented on #7
you can check out my commit, for some ideas
https://github.com/cluder/websocket-obs-java/commit/029b51e09869c8ad8aa677ff202335c63db027e6

[2020-05-18 09:36] menkian opened #10 "Refresh Cache"
This is my first GitHub post,
There's a chance to add Browser souce refresh cache feature?

[2020-05-19 21:31] LarsBaertschi commented on #10
Welcome to GitHub! 👯

I'm not exactly certain how these things would behave, but I would recommend to call the setSourceSettings endpoint and change the "Source" property (as documented in the request here: https://github.com/Twasi/websocket-obs-java/blob/66ddee6573c681829f1e5ffcf39b455c85043284/src/test/java/net/twasi/obsremotejava/test/OBSRemoteControllerTest.java#L156) to a similar URL.

If you

[2020-06-01 07:40] sampie777 opened #11 "Max message size rejects messages and closes connection"
In OBSCommunicator.java the maxTextMessageSize is set to 64 kB. When OBS has too much scenes/sources that a call for GetSceneList returns a message with a size greater than 64 kB. This lets the websocket client collapse: connection is lost (without an error) and my application tries to reconnect, which will result in a circular loop. Increasing maxTextMessageSize will prevent this problem.

My que

[2020-06-04 14:01] DieserMerlin commented on #10
Hey, welcome to GitHub :)

This is currently not implemented in the Websocket plugin for OBS. Please consider to open an issue on the plugins GitHub page (https://github.com/Palakis/obs-websocket/) an then create a new issue here when it is implemented.

Meanwhile the fix @LarsBaertschi suggested should work fine.

[2020-06-04 14:01] #10 closed

[2020-06-04 14:48] LarsBaertschi commented on #11
We have discussed this today, and came to the conclusion that setting a maximum is not required. We have no idea why we did this when we implemented it.
We have removed it, and plan it to release it along the next release we do. https://github.com/Twasi/websocket-obs-java/commit/c62490999b9b1ffe6f906deab14d6b83a8ea68b7

[2020-06-05 07:16] sampie777 commented on #11
Thank you for your reply. By removing it, do you know what will be the default max size?

[2020-06-13 23:47] LarsBaertschi commented on #11
When removing the limit, there is no limit set. Web socket supports multi-frame transmission, which means that packages / messages can theoretically be as big as they like without any limitations. However, when the messages get very big, you may see the performance degrade, especially trough our parsing process. However, this should not be any problem when only talking about some kB...

[2020-06-17 11:19] sampie777 commented on #11
Thank you for the explanation. It's strange that the default WebSocket behavior is to close the connection when a message to big arrives, instead of just throwing an error.
Thanks for the fix!

[2020-06-17 11:19] #11 closed

[2020-07-27 10:25] yourealwaysbe opened #12 "Usage: stale connections / Android?"
Thanks for your work on this.

I'm trying to use it to implement a basic Android remote control, however i get some odd behaviour.

When i create an app, i open up a connection. If i use it immediately to change scene, it is fine. If i make the change scene request later in a button click handler, it never seems to go through. However, it does work if i create a fresh connection object in the clic

[2020-07-27 10:38] yourealwaysbe commented on #12
Sorry, closing this, on reflection it's probably to do with not using the same connection in multiple threads.

[2020-07-27 10:38] #12 closed

[2020-08-07 12:25] LarsBaertschi commented on #12
Yes, exactly! You should create a single thread that interacts with our library. Maybe it would make sense for our library to implement a scheduler and a pipe so that you could send requests from whatever thread you want, and the wrapper would take care to schedule it to the correct thread. But that's something for the future.

[2020-08-07 12:41] yourealwaysbe commented on #12
Thanks for the response. I should have replied earlier -- i read somewhere that in recent versions of Android, HTTP connections are blocked on the UI thread (rather than this just being bad practice). When using this library only in Dispatchers.IO coroutines in Kotlin, things works fine.

[2020-08-24 16:00] gxalpha opened #14 "No license"
This library doesn't include an obvious license, technically making it unusable in any program without the permission of every contributor.
I did see it included in the pom.xml, but I personally think you should add a LICENSE document and/or headers to the specific document to make it more clear.
*Note that this is not legal advise, and I'm not a lawyer :)*

[2020-08-28 08:38] LarsBaertschi commented on #14
Hey!

Good catch, how did we miss this all the time? All our open-source projects are licensed under MIT, so this one should be too. I have checked back with all contributors. As you correctly saw in pom.xml we intended to have the project MIT-licensed all the time.

We have added the MIT License file also to the root path of the directory (as it is done normally) so we have it more obvious and ex

[2020-08-28 08:38] #14 closed

[2020-09-23 17:39] ChristopheCVB opened #15 "Add support to manipulate TextGDI sources"
Add the following Requests:
- GetTextGDIPlusProperties
- SetTextGDIPlusProperties

[2020-11-01 01:25] FabianKopp opened #16 "There appears to be no getSourcesList function"
There appears to be no getSourcesList function.
There is one within a scene object, but no function to list all sources in OBS

[2020-11-06 09:55] DieserMerlin commented on #16
Feel free to make a PR

[2020-11-06 09:55] DieserMerlin commented on #15
Feel free to make a PR

[2020-11-06 22:41] LarsBaertschi commented on #16
You can use getSceneList and go from there over all available sources for now.

[2020-12-27 12:06] TinaTiel commented on #7
Howdy! I've fixed this in my fork at 4bfd6ceee662226efd493d29812b0a0c5047a271 if you want to take a look and incorporate into this one. Would love to contribute!

[2020-12-27 12:31] TinaTiel commented on #7
Holup, I forgot about the e.printStacktrace calls...

[2020-12-27 14:28] TinaTiel commented on #7
Okay, that took longer than expected but should now be done. See https://github.com/TinaTiel/websocket-obs-java/issues/2

A few things of note:

- I've set some reasonable defaults for the logging levels, including disabling Jetty logging.
- Default log level for the project is debug (see next points)
- Since this seems to be built around registering callbacks, what I've done is replaced direct er

[2020-12-27 16:28] TinaTiel commented on #7
Should add that while digging into the Integration Tests I found I broke a few -- this has been fixed. I've also broken up the tests a little bit and added a few comments to make them a bit easier to (at this point, manually) run with OBS.

See https://github.com/TinaTiel/websocket-obs-java/issues/6

[2020-12-27 16:53] TinaTiel commented on #7
@LarsBaertschi I have a branch ready for you for a PR, but I don't have permission to push branches to your remote.

[2020-12-27 17:19] TinaTiel opened #18 "Automate Integration Tests via Container Tech"
Currently Integration tests require the tester to manually run OBS and to enable/disable OBS Websocket authentication in OBS.

This could be automated with any number of container technologies, an example is Docker and there are several OBS containers available that would do the job.

Not sure if it'd work in GH actions or not, but theoretically it could be possible to then setup CD on pushes to t

[2020-12-28 10:36] TinaTiel opened #19 "NullPointerException on close of connection"
See https://github.com/TinaTiel/websocket-obs-java/issues/7

When a connection is closed (e.g., when OBS is turned off while connected), a NullPointerException is thrown.

This is caused by making a direct method call on the CallBack; if none is registered, then a NPE results.

See culprit here:
https://github.com/Twasi/websocket-obs-java/blob/6c2f580ea2a4502d839da46696fceaf901e5cbbe/src/main/java

[2020-12-28 10:38] TinaTiel opened #20 "GPG Prompt During Verify Phase (GPG V 2.1+) [Fix on TinaTiel Fork]"
While running the Maven verify phase to sign the jar, a GPG prompt appears.
This only occurs in GPG V 2.1+ and a fixed is described here:

https://myshittycode.com/2017/08/07/maven-gpg-plugin-prevent-signing-prompt-or-gpg-signing-failed-no-such-file-or-directory-error/

Fix is simple as specifying the `pinentry-mode` as `loopback` in the GPG properties:

[code]

I've already fixed it here:
https:/

[2020-12-28 13:17] #7 closed

[2020-12-28 13:29] LarsBaertschi commented on #18
I'll try to get this up and working! Also want to setup CD so it could be automatically validated.

[2020-12-28 13:40] TinaTiel commented on #7
Noice! Thanks 👍

[2021-01-04 00:30] TinaTiel opened #23 "Suggestion: SLOBS Protocol Support"
Was following a [thread on Twitter](https://twitter.com/TinaTiel/status/1345888648617734144?s=20) and through that conversation realized some folks are using SLOBS.

I took a look at their protocol, and they do natively support websockets but their protocol/objects are different:
https://stream-labs.github.io/streamlabs-obs-api-docs/docs/index.html

Googled around and didn't find any usage stats,

[2021-01-04 07:38] rnayabed opened #24 "Add Java 9+ Support"
Please port this to Java Module System so that it can work with Java 9+

[2021-01-04 07:39] rnayabed commented on #23
+1 SLOBS Protocol Support would be awesome!

[2021-01-04 12:54] DieserMerlin commented on #20
Thank you! I'm closing this as it has been merged.

[2021-01-04 12:54] #20 closed

[2021-01-04 13:01] DieserMerlin commented on #23
None of us work with SLOBS, so there are no plans to integrate that now or in the future. We would still be happy if you would take a look at it and make a pull request for integration!

[2021-01-04 13:44] #19 closed

[2021-01-04 16:12] TinaTiel commented on #23
Cool, sounds good!
I intend to eventually work this, I just put it in here as a placeholder in case others were thinking the same thing.

[2021-01-04 16:18] TinaTiel commented on #23
Btw @DieserMerlin I think it would be several steps.

Would be a lot of work, so would your preference be to (a) put it all in one branch, or (b) make PRs for each step? My personal style has been to create an Issue/PR for each unit of work, but this ain't my repo haha

[2021-01-04 16:57] DieserMerlin commented on #23
You got write permission on the repository. How you do it is up to you, just try not to break anything 😅

Welcome to the team 😎
Also please have a look at the issues related to SLOBS. I created a label for it.

[2021-01-04 17:03] DieserMerlin commented on #23
Also please take a look at my most recent commit introducing generics to get away from this cast-mess. Would be greate to have a consistent code style for both, "normal" and streamlabs-obs.

[2021-01-04 17:07] TinaTiel commented on #23
Sure, will take a look...

[2021-01-04 17:17] TinaTiel commented on #23
SO far only seeing one issue for SLOBS -- when I get to it, there WILL be more 😉

[2021-01-04 18:32] rnayabed commented on #23
Im incorporating this in a very huge project, thanks a lot for this 🥇

[2021-01-05 00:40] jonteohr opened #25 "Feature request: toggle filter visibility"
Would be nice to be able to toggle filter visibility of a source/scene.
Is this something that's planned?

[2021-01-05 07:11] TinaTiel commented on #25
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#setsourcefiltervisibility

Don't see why not

[2021-01-05 07:17] TinaTiel commented on #25
I'll go ahead and just do this -- it's just a matter of adding the model and a few methods.

[2021-01-05 10:44] rnayabed opened #26 "WebSocket URI must be absolute IllegalArgumentException"
I am getting this error when i try to connect to `ws://localhost:4444/`
Not just this address, but anything throws this

[code]

This is very weird.

[2021-01-05 10:49] rnayabed commented on #26
sorry im the dumbest person on earth

[2021-01-05 10:49] #26 closed

[2021-01-05 10:49] TinaTiel opened #27 "Centralize Gson config"
Generally in calls that serialize/deserialize objects, a new Gson instance is being created. [Gson instances are thread-safe](https://www.javadoc.io/doc/com.google.code.gson/gson/2.8.0/com/google/gson/Gson.html), so what we can do is initialize GSON in the contructor.

This would enable us to centralize configuration, for example to add custom serializers/deserializers, or even a [RuntimeTypeAdapt

[2021-01-05 10:50] TinaTiel commented on #27
Related to #25

[2021-01-05 12:15] TinaTiel commented on #26
No worries!
Just out of curiosity, what were you doing to replicate this problem initially?

[2021-01-05 12:18] rnayabed commented on #26
My password was the URL and my URL was the password :P

[2021-01-05 12:21] rnayabed opened #28 "Update the library on Maven - README states latest artifactId on MavenCentral is 1.0.5"
The Current one is outdated (1.0.5)

[2021-01-05 13:23] TinaTiel commented on #28
There hasn't been an updated release yet on Maven Central
https://search.maven.org/search?q=g:net.twasi

[2021-01-05 13:30] TinaTiel commented on #16
protocol: https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#getsourceslist

[2021-01-05 13:31] TinaTiel commented on #15
protocols:
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#gettextgdiplusproperties
https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md#settextgdiplusproperties

[2021-01-05 13:39] TinaTiel opened #30 "Common Test Resources - SceneCollections, Browser Sources, Images, etc."
If we had a common sceneCollection file in the test resources, then we could assert that requests such as getSources etc. return the expected objects. Would be a great first step to containerization-based integration tests

[2021-01-05 13:40] TinaTiel commented on #15
May not get to this today -- but intend to work it, so I'll take ownership.
Would like to do #30 first however

[2021-01-05 13:50] rnayabed commented on #28
Yeah im doing the same right now, but an updated release would be really helpful.

[2021-01-05 13:50] ChristopheCVB commented on #15
Hey hello ! Happy new year ;)
Yes, I'm working on a fork in which I added multiple requests.
I will try to clean a little and then push it somewhere

[2021-01-05 13:50] TinaTiel commented on #24
@rnayabed I've personally not used Java Modules too much -- is there anything more to it than adding the package-info file, or are there other considerations?

[2021-01-05 15:06] rnayabed commented on #24
I think you mean module-info.java :D
Well I have been working with java modules for a while (and you should too, java 8 is going to go EOL very soon)

[2021-01-05 15:07] rnayabed commented on #24
Ill try seeing if I can add module support. But probably later because I am working on another project

[2021-01-05 15:16] TinaTiel commented on #24
Haha, fair enough!
I started my career writing plugins for Jira, pre Java 11 (up until recently they've only supported Java 8).
Been using Java 11 on personal projects, but haven't yet run across an use case requiring modules since I do mostly Spring stuff atm.

On Tue, Jan 5, 2021, at 16:07, Debayan Sutradhar wrote:

[2021-01-05 15:23] TinaTiel commented on #15
Phew! Glad I asked ;)
Looking forward to checking out the changes.
If you haven't checked recently, btw, the Callback interface was generic-ified a bit.
Also, I'm planning to also create an ObsClient interface and make the Controller implement it (so that later we could, hypothetically, create a StreamLabs OBSClient implementation).

[2021-01-06 12:19] #25 closed

[2021-01-06 12:22] DieserMerlin commented on #28
On it, there will be a new release soon

[2021-01-06 13:17] TinaTiel commented on #25
@jonteohr This feature is now available on 1.2.0 if you'd like to check this out. Please note this isn't yet part of a Maven Central Release so you'll need to install the dependency locally.

[2021-01-06 18:24] rnayabed commented on #28
Thanks a lot!

[2021-01-07 17:54] DieserMerlin commented on #28
@LarsBaertschi not only created a new release but also automated the releases so new versions will automatically be on maven itf.

[2021-01-07 17:54] #28 closed

[2021-01-07 20:46] rnayabed commented on #28
Awesome!!!!

[2021-01-07 20:48] rnayabed commented on #28
@DieserMerlin [Maven](https://mvnrepository.com/artifact/net.twasi/obs-websocket-java) still shows 1.0.5 as the latest version

[2021-01-07 20:55] rnayabed commented on #24
Damn jira. I have only heard, never used it XD

[2021-01-07 23:03] DieserMerlin commented on #28
https://search.maven.org/artifact/net.twasi/obs-websocket-java/1.2.0/jar

[2021-01-08 07:49] TinaTiel commented on #24
Lol, to be fair it's not inherently bad as a tool -- but it's a bit too flexible so in context folks tend to overuse it / use it where it doesn't belong. The one hammer to rule them all. 🔥🤣

On Thu, Jan 7, 2021, at 21:56, Debayan Sutradhar wrote:

[2021-01-17 15:58] rnayabed opened #33 "Use java.util.logging instead of sl4j"
How do i do that?

[2021-01-17 16:09] rnayabed opened #34 "OBSController doesnt stop when connection fails"
[code]

when it fails, the OBSRemoteController keeps on running, whenever you quit the application, the app doesnt stop.

[2021-01-20 22:54] B1llstar commented on #15
Hi! I'm relatively new to Github. Has anybody found a solution to this problem? I currently have to read from a text file in OBS, and it is way way way slower than using a websocket.

[2021-01-22 17:35] TinaTiel commented on #34
The isFailed() method checks the status of a latch object, it doesn't handle any kind of failure.

I think the way it's meant to be worked with is to register callbacks on different events. Here is an example of how I do this in my own ObsClientManager. I'm using CompleteableFuture as a dirty way of signaling state between threads, but also so that my start, stop, and reload methods are actually b

[2021-01-22 17:47] TinaTiel commented on #34
Sorry, disregard my last comment --

You're right, this could be improved. The connect() method does make a call to onError and onConnectionFailed callbacks if there are problems during the connection process.

As a workaround, you could register code on those callbacks that calls the disconnect() method if that's the behavior you want.

But I'm not entirely sure if @LarsBaertschi  etc. may have i

[2021-01-22 18:11] TinaTiel commented on #15
Unless @ChristopheCVB  has changed his mind, he plans to push this in at some point.

[2021-01-22 18:28] ChristopheCVB commented on #15
I just need to find the time to do so :/

[2021-01-22 18:32] TinaTiel commented on #15
here here XD
It's no problem, just wanted to check-in if you wanted to still work it.
I've been super busy too lately, first time I've checked my email for a few weeks haha

On Fri, Jan 22, 2021, at 19:28, Christophe Carvalho Vilas-Boas wrote:

[2021-01-22 21:20] TinaTiel commented on #15
@B1llstar If you want to fork it sooner, it's mostly boilerplate stuff (nothing too complex) that involves:

- writing model classes
  - this project uses Gson for serialization/deserialization.
  - refer to https://github.com/Palakis/obs-websocket/blob/4.x-current/docs/generated/protocol.md for what the (DTO) classes should look like
- adding your class to the RequestType enum
- adding methods on

[2021-01-22 21:47] TinaTiel opened #35 "Add a CONTRIBUTING file + Update with Gradle Info"
Should answer questions such as:

- branch expectations/conventions
- overall vision/architecture?
- how to communicate / possibly Discord

I'm tempted to add a brief note on the overall architecture without going into too many details

[2021-01-23 02:48] B1llstar commented on #15
Cool. I feel sort of silly that because I'm new to Github I don't know what
a fork is quite yet. I would imagine that means working on a feature for
somebody else's repository.

Thank you for the information! I will speak with my friend and mentor, and
see what we can come up with.

Bill

On Fri, Jan 22, 2021 at 4:20 PM TinaTiel <notifications@github.com> wrote:

[2021-01-23 06:36] TinaTiel commented on #15
It's no problem :)
The idea with a Fork is you create a copy of this repository on your account, work on it, and then when you're ready to push a feature you'll come back to the original repo (here) and make a PR from your Fork's branch into this repo's branch.

Good luck!

[2021-01-23 06:52] B1llstar commented on #15
I wrote something that works (somehow)! I’ll submit a pull request tomorrow
after I clean a few things up and get approval from my friend who knows
better than I do.  I did pretty much exactly what you said, so thanks for
the advice! In the mean time, what’s the best way to deploy the new
features right now? Importing the repository is what I did before, but with
the new class files that wouldn’t

[2021-01-23 07:05] B1llstar commented on #15
I submitted a pull request (my first to a repository that wasn't my own) so
feel free to take a look! When you get a chance, I would like to know how I
can deploy this immediately. I'm a streamer myself working on a Twitch bot
project with a friend, and this functionality has immediate benefits.

On Sat, Jan 23, 2021 at 1:36 AM TinaTiel <notifications@github.com> wrote:

[2021-01-30 09:40] TinaTiel commented on #35
Was going to create a ticket to update the README with Gradle build info, but if we're going to add a CONTRIBUTING file then we should merely move that build info into the CONTRIBUTING file

[2021-01-30 09:41] TinaTiel commented on #35
Related to this -- what is the intent with the different branches we have @LarsBaertschi ? (develop and feature/cd)

[2021-01-31 15:40] TinaTiel commented on #18
I took a look at https://hub.docker.com/r/bandi13/docker-obs but it uses the Linux version of OBS--which is sorely outdated.

Also took a look at using Docker to containerize Windows apps...Seems this is geared towards actually _building_ a Windows app from source into a container.

So I guess the options would be either to:

- Build windows containers from the OBS source code, or
- Build a window

[2021-05-02 03:15] hsgarn commented on #15
Anyone able to complete this?

[2021-05-08 19:35] Pezcraft commented on #23
Are you still working on it?

[2021-05-08 19:53] TinaTiel commented on #23
Hi! Not at the moment, sorry!
I've had to prioritize other things, I'll unassign myself for now -- sorry for confusion!

[2021-05-08 19:53] TinaTiel commented on #23
Hi! Not at the moment, sorry!
I've had to prioritize other things, I'll unassign myself for now -- sorry for confusion!

[2021-05-20 17:57] TinaTiel commented on #30
Would add this should include the possibility to (manually for now) host a web page for browser source tests; e.g. testing browser source refresh by hitting a page that generates a random number.

[2021-05-20 17:58] TinaTiel commented on #30
I've started this on topic-30

[2021-05-20 18:37] TinaTiel commented on #18
@LarsBaertschi Did you ever get this working?

I tried taking  a look at it and found:

1. The official Windows images are for server, and
2. There are no official client images

I had the crazy thought to use VirtualBox running a Windows 10 image, all running inside a Docker container...which could work, but that would probably violate too many license agreements to ever be shared for e.g. automa

[2021-05-20 19:18] LarsBaertschi commented on #18
I tried this, and ran exactly into the issues you mentioned! So I really think we cannot fully test it end to end, the best possible thing would probably be to emulate the websocket server, but this is quite some effort. So I'm not really sure how to progress here. But your idea sounds quite promising! Would be excited to see if that actually works

[2021-05-21 16:30] ChristopheCVB commented on #16
This can be closed, resolved by #37

[2021-05-21 16:32] ChristopheCVB commented on #27
This can be closed, resolved by #37

[2021-05-21 21:26] TinaTiel commented on #30
@LarsBaertschi I've pushed a start onto topic-30, would you mind taking a look and letting me know if the README and initial instructions make sense and work for you?

If all is well, then I'll add a few more tests to exercise the features E2E.

[2021-05-21 21:38] #27 closed

[2021-05-21 21:47] TinaTiel commented on #33
Slf4j is just a facade; you can replace the implementation with your own as described at https://github.com/Twasi/websocket-obs-java#logging or https://dzone.com/articles/logging-with-slf4j if you need more information.

[2021-05-21 21:47] #33 closed

[2021-05-22 08:23] LarsBaertschi commented on #30
Hey, I just had a look. I like it, everything is clear to me! It's a very nice way of testing.

[2021-05-22 09:50] TinaTiel commented on #30
Awesome, thank you for your feedback! I'll fill it out more and make a PR at some point.

[2021-05-23 07:54] ChristopheCVB commented on #23
I think that SLOBS should not be integrated in this library, but be an entirely different one. OBS WebSocket and SLOBS Protocols are differents.

[2021-05-23 08:18] ChristopheCVB commented on #18
Or we could use a self hosted runner that has an OBS Instance running?

[2021-05-23 08:19] ChristopheCVB commented on #16
@TinaTiel Can you close this please?

[2021-05-23 12:02] TinaTiel commented on #16
Sure, thanks for reminding me :)

[2021-05-23 12:02] #16 closed

[2021-05-23 12:28] TinaTiel commented on #23
@ChristopheCVB We could generify the library quite a bit, it would be part of a larger effort.
The protocols are different, but it doesn't mean we couldn't accomplish it here (bigger would be if the functionalities were completely different, e.g. feature parity between SLOBS and OBS Studio).

As I imagine it in my head, it might phase in like this:

1. Switch to a generic client interface and impl

[2021-05-23 12:34] TinaTiel commented on #18
@ChristopheCVB wouldn't that cost money?
Plus, we'd need to manage secrets in an OSS project like this (unless you want the public dirtying that environment) so that it stays 'clean'. But tbh even when under control within corp networks, I've personally not always had good experience with shared staging/testing environments unless they were destructible and rebuilt frequently.

At that point, I'd

[2021-06-10 13:53] ChristopheCVB opened #40 "Support OBS WebSocket 5.X"
# Description
The 5.X version is approaching and is bringing breaking changes.

# Status
- Requests and Responses
    - General
        - [x] GetVersion
        - [x] BroadcastCustomEvent
        - [x] GetStats
        - [x] GetHotkeyList
        - [x] TriggerHotkeyByName
        - [x] TriggerHotkeyByKeySequence
        - [x] GetProjectorList
        - [x] OpenProjector
        - [x] CloseProjecto

[2021-06-10 14:48] #30 closed

[2021-06-10 14:55] TinaTiel commented on #40
Sounds wise, though I'm wondering how/where you got it?
I don't see any branches or tags on https://github.com/Palakis/obs-websocket/branches for 5.X
Any other info on what these breaking changes are?

[2021-06-10 15:05] TinaTiel commented on #40
Nvm: Found the notice: https://github.com/Palakis/obs-websocket/releases/tag/4.9.1

[2021-06-10 15:08] TinaTiel commented on #40
And the protocol: https://github.com/Palakis/obs-websocket/blob/master/docs/generated/protocol.md

[2021-06-10 15:19] TinaTiel commented on #40
FYI @ChristopheCVB I've asked @DieserMerlin and @Blechkelle if we're going to state support for 5.X.X or not. I've joined the Discord and will check this out at least, looks like all the DTOs will need a rewrite and possibly the authentication process to an extent too...

[2021-06-10 15:33] ChristopheCVB commented on #40
@tt2468 sent it in the Touch Portal discord today

[2021-06-11 06:14] TinaTiel commented on #40
@DieserMerlin  or @ChristopheCVB  any possibility we could add Christophe as a contributor to the repo?

[2021-06-11 11:40] TinaTiel commented on #15
I'm going to be starting looking into 5.X.X support in #40 , so probably not me. You're welcome to make a PR if you'd like (and Christophe has been contributing quite a bit too). Should follow these guidelines:

- Include both the get and set forms of the request
- Add some integration tests (see the ObsRemoteE2eObservationIT for examples)

But, keep in mind the 5.X.X is a big change to the API; t

[2021-06-11 11:45] TinaTiel commented on #40
@ChristopheCVB How would you like to approach this? We could create a 5.X.X branch here and work against it on that branch (esp if we make you a contributor). Otherwise in the meantime I think we could work together on your private repo (you'd need to add me) and make a PR later to merge those changes in. Lemme know if you have a preference.

[2021-06-12 07:06] TinaTiel commented on #23
For now, given the big changes with the OBS Studio plugin and this library as-is, there aren't plans to work on this.

[2021-06-12 07:06] #23 closed

[2021-06-12 07:08] TinaTiel commented on #18
Come to think of it, we might be able to get _some_ value out of using the Linux distro if the authentication stuff is the same.
If we want to take the effort, using any of the existing containerized Linux distros of OBS with this plugin could be helpful there ...

[2021-06-18 09:54] ChristopheCVB opened #53 "5.x Identify.rpcVersion"
https://github.com/Twasi/websocket-obs-java/blob/7c720047ea46845561ca7de5024fc159ce4e0698/src/main/java/net/twasi/obsremotejava/OBSCommunicator.java#L249

I'm not sure we should use the rpcVersion returned by  the Hello message.
This is the rpcVersion our library supports, thus, it should be a constant.
As of now, there is only one rpcVersion (which is 1) but that might change in the future.

[2021-06-21 18:39] TinaTiel commented on #35
This has been completed for some time now

[2021-06-21 18:39] #35 closed

[2021-06-21 18:47] Pjiesco opened #61 "Add issue templates"
I think we should add issue templates.
These should at least include templates for bug reports and feature requests

[2021-06-22 07:28] ChristopheCVB commented on #61
Nice idea @Pjiesco, go ahead ;)

[2021-06-22 07:33] ChristopheCVB commented on #34
@TinaTiel SHould we close this issue or is it still relevant for 5.x.x?

[2021-06-22 13:52] #61 closed

[2021-06-23 07:23] TinaTiel commented on #53
Let's go for it.
Probably better to fail fast in that case

[2021-06-23 10:18] TinaTiel commented on #18
Great work on Christophe's part, getting a self-hosted runner working!
I'll keep this open so I can continue exploring the docker image route -- one consideration not brought up here yet is that OBS supposedly requires a GPU to run. I'm not sure if this will be the same for the Linux distro, it will need to be explored.

[2021-06-23 17:51] ChristopheCVB opened #70 "Maven Publish"
Migrate fully to maven-publish

[2021-06-23 17:51] ChristopheCVB opened #71 "Rename Repository"
Rename Repository to `obs-websocket-java`

[2021-06-23 17:53] ChristopheCVB opened #72 "Rename Package"
Rename Package to `io.obswebsocket.client`?

[2021-06-23 19:58] Pjiesco opened #74 "Requests Unit Tests"
- General
    - [x] GetVersion
    - [x] BroadcastCustomEvent
    - [x] GetSystemStats
    - [x] GetHotkeyList
    - [x] TriggerHotkeyByName
    - [x] TriggerHotkeyByKeySequence
    - [x] GetProjectorList
    - [x] OpenProjector
    - [x] CloseProjector
    - [x] GetStudioModeEnabled
    - [x] SetStudioModeEnabled
    - [x] Sleep
- Config
    - [x] ~~GetGlobalPersistentData~~
    - [x] ~~SetGlobal

[2021-06-24 06:55] TinaTiel commented on #72
So we'd have a groupId of `io.obswebsocket.client` and artifactId of `obsremotejava`?

What if instead we had `io.obswebsocket` as groupId and `javaclient` as artifactId instead?

[2021-06-24 06:57] ChristopheCVB commented on #72
That was indeed the idea

[2021-06-24 07:08] TinaTiel commented on #72
Shall we close this and move to a discussion?

[2021-06-24 12:48] TinaTiel opened #78 "Core: Move onReady and onDisconnect from Remote to Controller + Add new Controller Lifecycle Callbacks"
As it is now, the onReady and onDisconnect callbacks are in the RemoteController.

This doesn't make sense for several reasons:

- onReady shouldn't be called until onIdentified has been called in Communicator.
- onDisconnect shouldn't be called until onClose has been called in Communicator.
- In both cases above, as it is now due to thread timing onReady may likely be called before onIdentifed, o

[2021-06-24 12:53] TinaTiel commented on #24
Noting a comment here -- if we're going to explicitly support / require Java 11, we should also upgrade the Jetty WebSocketClient

[2021-06-24 19:32] ChristopheCVB opened #80 "Use OBS WebSocket Community OSS Account"
Configure Environment Variables for:
- [x] OSSRH_USERNAME
- [x] OSSRH_PASSWORD
- [x] PGP_KEY
- [x] PGP_PSW

https://issues.sonatype.org/browse/OSSRH-70541

[2021-06-24 19:56] #70 closed

[2021-06-24 19:57] #72 closed

[2021-06-24 20:03] #71 closed

[2021-06-25 16:34] TinaTiel commented on #18
It works!
https://github.com/obs-websocket-community-projects/obs-websocket-java/pull/85
https://github.com/TinaTiel/obs-websocket-docker

[2021-06-25 16:34] #18 closed

[2021-06-25 17:14] TinaTiel opened #86 "Implement Reidentify"
https://github.com/Palakis/obs-websocket/blob/master/docs/generated/protocol.md#reidentify

[2021-06-25 17:22] Pjiesco opened #87 "Separate Request Tests"
Having all request tests in one class will get full and bulky quickly. It is better if we separate them by category.

[2021-06-25 20:00] #87 closed

[2021-06-27 06:00] TinaTiel opened #94 "ObsCommunicator - Message Send Facade"
When sending messages at the moment, it depends directly on a full Jetty WebsocketClient Session.

This can be deep-mocked, but a better practice would be to put this behind a facade so we have control over that interface and can verify calls in-general to send messages. This would especially enable unit-testing individual lifecycle methods.

[2021-06-27 07:57] TinaTiel opened #96 "Lifecycle Enumerations"
Implement https://github.com/Palakis/obs-websocket/blob/master/docs/generated/protocol.md#enumerations

Update tests to check against the enums rather than raw codes and messages (where relevant)

- [x] RequestStatus
- [x] WebSocketCloseCode
- [x] EventSubscription

[2021-06-27 08:35] TinaTiel commented on #34
Working on the fix for this today, will be available in 2.0.0

[2021-06-27 12:12] #53 closed

[2021-06-27 13:00] ChristopheCVB commented on #74
@Pjiesco Can you update thie issue with a checklist that we can track?

[2021-06-27 13:02] ChristopheCVB commented on #74
Done, disregard my comment

[2021-06-27 13:38] ChristopheCVB commented on #86
Since we are not allowing developers to register event listeners after creation, it is not useful to implement it.
With that in mind, it means that devs have to register all the events they want at creation and they will be fired for the whole life of the OBSRemoteController. This is not ideal, they maybe want to register and unregister on the fly and implementing that mechanism is what will trigg

[2021-06-28 11:51] #34 closed

[2021-06-28 17:36] #96 closed

[2021-06-28 19:22] ChristopheCVB commented on #15
Closing because v5.x has a completely different way to handle requests

[2021-06-28 19:22] #15 closed

[2021-06-28 21:08] ChristopheCVB opened #104 "Google CheckStyle"
Apply Google CheckStyle on project

[2021-06-28 21:12] TinaTiel commented on #104
XML for IntelliJ is available here: https://github.com/checkstyle/checkstyle/blob/master/src/main/resources/google_checks.xml
And can be installed in `Settings > Editor > Code Style`

[2021-06-28 21:15] ChristopheCVB commented on #104
We can easily do a code freeze and do it once and for all I think

[2021-06-28 21:16] TinaTiel commented on #104
Yeah, that makes sense for timing -- will be a solid several hours of applying style updates, so making it a last task would make sense.

[2021-06-28 21:18] ChristopheCVB commented on #104
![image](https://user-images.githubusercontent.com/946345/123705289-0ca05f80-d867-11eb-85a7-cf6e71f16f88.png)
Isn't that the automatic way of doing it?

[2021-06-28 22:43] ChristopheCVB opened #105 "CurrentPreviewSceneChanged"

[2021-06-28 22:43] #105 closed

[2021-06-29 12:47] ChristopheCVB commented on #24
I believe there are ways of importing a gradle dependency with Java 9
I think we will close this

[2021-07-02 10:40] TinaTiel commented on #94
After digging into this more, I'm seeing more complexity for little benefit.
So, I'm going to abandon this for now and may reconsider later.

[2021-07-02 10:40] #94 closed

[2021-07-02 11:31] #104 closed

[2021-07-02 13:00] ChristopheCVB commented on #78
What's the difference between :
- onStartRequested (new/recommended)
- onStarting (new/recommended)

same goes for :
- onStopRequested (new/recommended)
- onStopping (new/recommended)

[2021-07-02 13:15] TinaTiel commented on #78
The onXRequested is always called, an an acknowledgement of receipt.
From there, onIgnored or onX will be called depending on whether the request can be fulfilled or will be ignored.

[2021-07-02 14:03] TinaTiel opened #108 "Usage Examples"
Rather than providing examples in the README, we could provide a small examples module/directory showing how to use the client for some common use cases:

- [x] Connect
- [x] Send a Request through convinience method
- [x] Send a Request through *Request class
- [x] Disconnect
- [x] Reconnect

- etc as requested (adding new examples could be tied directly to discussions or issues)

[2021-07-02 14:11] ChristopheCVB commented on #108
We could then create a parent gradle module and add an example module alongside the existing one (being the client one)

[2021-07-02 15:38] TinaTiel commented on #78
For now, let's forgo the extra events...There's enough as-is in this issue, and adding those events implies having the ability to detect readiness from the controller (same problem this issue addresses, lol). We could always add those later if needed.

[2021-07-02 17:15] #108 closed

[2021-07-02 17:16] #78 closed

[2021-07-02 17:16] TinaTiel commented on #78
closed in https://github.com/obs-websocket-community-projects/obs-websocket-java/pull/110

[2021-07-02 20:06] TinaTiel commented on #86
Agreed

[2021-07-02 20:06] #86 closed

[2021-07-03 06:35] ChristopheCVB commented on #86
Why closing it? We meet want to implement this for v2.x+1 ?

[2021-07-04 17:53] #80 closed

[2021-07-05 19:48] #24 closed

[2021-07-09 09:25] TinaTiel opened #112 "compute event subscriptions - fails on custom event"
When trying to subscribe with a custom event, it looks like the computation of subscriptions fails with:
[code]

The method itsself uses introspection to get the event type of the class...Maybe we could just use the getter?

[2021-07-09 09:38] TinaTiel commented on #112
I suspect this happens on other events that extend Event and have a many-argument constructor...there would be no zero-arg constructor.

Trying to think of a clever way to solve this that doesn't involve either declaring a static constructor on all events, or a unique event registration method for each event type...

[2021-07-09 09:56] TinaTiel commented on #112
Also noticed while investigating that we have no tests verifying deserialization of events....Makes it difficult to determine if any breaking changes will be introduced when trying to fix this.

Depending on how this should be fixed, eventType may be a static ref or an instance method...refactoring that would be a PIA.
So, I suggest we start a few tests in this ticket, and then followup with unit

[2021-07-09 10:04] ChristopheCVB commented on #112
Yeah, I knew it would produce some errors but didn't find a better way to handle it at that time

[2021-07-09 10:50] ChristopheCVB commented on #112
The CustomEvent shouldn't have a Builder and a param in the constructor imo
The object instance is created by Gson when deserialized not by us
By default Gson uses the no-args constructor to create an instance
There is a way of providing a custom InstanceCreator if we need, but I don't think it should be the case here

[2021-07-09 11:25] TinaTiel commented on #112
@ChristopheCVB I got back from my walk and saw you've created a branch for this issue, so I've assigned it to you.

[2021-07-22 11:00] ChristopheCVB opened #113 "SetVideoSettings"
# Request Name
SetVideoSettings

# Documentation
[Requests outline](https://docs.google.com/spreadsheets/d/e/2PACX-1vQhkIMNI9hGFoTAJadIS5SnuVhgHC5Nu60DsT2Fk4HWuXwbPjLF9VjiHpdt3clDUZO1BU4tcVlLIGvu/pubhtml#)
![Capture d’écran 2021-07-22 à 12 57 34](https://user-images.githubusercontent.com/946345/126628892-5420b282-5835-40fd-bb49-a8904826929b.png)

## Request Parameters
| Name | Type | Required |

[2021-07-29 09:30] RafatRifaie opened #114 "Maven Dependency for 1.3.0 None Existent?"
# Describe the bug
I tried adding v1.3.0 to my project but it's saying the dependency doesn't exist, also looked on maven central, same thing!

[2021-07-29 10:57] ChristopheCVB commented on #114
Yup, there's been a hiccup in the deployment of this version.
You can use the snapshot version instead:
https://oss.sonatype.org/content/repositories/snapshots/net/twasi/obs-websocket-java/1.3.0-SNAPSHOT/

[2021-07-29 23:50] RafatRifaie commented on #114
Thank you, i'm not quite versed in this, so sorry for asking, which file should i include in my intellij ide?

[2021-07-30 12:25] RafatRifaie opened #115 "Seems like there's no SetSceneItemProperties request, despite it being mentioned in the supported requests"
# Request Name
SetSceneItemProperties

# Additional Information
Looks like that request is only used to change the visibility of a source. I'd like to make changes to the transform of a source, and it's not currently possible.

[2021-07-30 12:28] Pjiesco commented on #115
I guess you are talking about the current version 1.3.0.
We will not be updating this version anymore. As mentioned in the readme we will only be updating for websocket version v5.
the next update for v5 will have this request

[2021-07-30 12:34] RafatRifaie commented on #115
Will that include a fully functional SetSceneItemProperties request?

[2021-07-30 12:35] ChristopheCVB commented on #115
Yes, and all available requests too.

[2021-07-30 12:35] #115 closed

[2021-07-30 12:36] ChristopheCVB commented on #115
In the meantime, feel free to fork the project and add whatever fields you want to SetSceneItemPropertiesRequest class

[2021-07-30 12:38] ChristopheCVB commented on #115
You can also see the status of this library v2.0.0 [here](https://github.com/obs-websocket-community-projects/obs-websocket-java/milestone/1)

[2021-07-30 12:40] RafatRifaie commented on #115
Thanks Chris, will try to my best hack it with my limited knowledge.

[2021-08-01 13:41] Pjiesco commented on #114
You don't need to download a file, just add `https://oss.sonatype.org/content/repositories/snapshots/` as a repository and the 1.3.0 snapshot should be available

[2021-09-02 05:58] xiaoqiangkx opened #117 "1.3.0 is not included in maven project"
![image](https://user-images.githubusercontent.com/1223296/131789855-82b324b6-a869-4465-8ac2-c7db57589790.png)
1.3.0 is not inclueded in https://mvnrepository.com/artifact/net.twasi/obs-websocket-java

[2021-09-02 17:50] Pjiesco commented on #117
Please see [this](https://github.com/obs-websocket-community-projects/obs-websocket-java/issues/114#issuecomment-889019479)

[2021-09-02 17:50] #117 closed

[2021-09-07 08:54] ChristopheCVB opened #120 "Refactor: New Protocol"
Refactor Base Requests and Events classes to fit with the new protocol

[2021-09-08 10:45] ChristopheCVB opened #121 "Do we know the value type here? Maybe we should add a `// TODO`?"
Do we know the value type here? Maybe we should add a `// TODO`?

_Originally posted by @ChristopheCVB in https://github.com/obs-websocket-community-projects/obs-websocket-java/pull/118#discussion_r703311475_

[2021-11-17 11:34] Pjiesco opened #123 "Doc: Obs-websocket repo changed location"
The name of the org obs-websocket-community has changes to obs-websocket so links need to be updated

The location of the obs-websocket reposetory has changed, from [Palakis](https://github.com/Palakis) to the obs-websocket org so also here links and the README need to be changed

[2021-11-17 11:38] Pjiesco opened #124 "Change logo?"
The obs-websocket plugin recently changed its logo because it infringed with the OBS logo. Maybe we should do this to?

The new obs-websocket logo:
![](https://media.discordapp.net/attachments/715691856582672464/910489680921890877/obsws_logo_new.png)

[2021-12-31 19:39] quimodotcom opened #125 "Missing GetStats"
# Request Name
GetStats

# Documentation
[Request Protocol Documentation](https://github.com/obsproject/obs-websocket/blob/master/docs/generated/protocol.md#getstats)

[2022-01-05 17:45] DorianSnowball commented on #114
Could you please add this solution to the Readme as well @Pjiesco ?
Because right now you state in your Readme to download 1.3.0 from Mavencentral which WILL result in errors for every user that tries it (like me just now)

So please either fix the maven deploy or add it to the Readme.
Or at least keep this issue open so it's more visible.

[2022-01-07 22:01] ChristopheCVB commented on #125
This is implemented for v2.0.0 cf [GetStatsRequest](https://github.com/obs-websocket-community-projects/obs-websocket-java/blob/5.x.x/develop/client/src/main/java/io/obswebsocket/community/client/message/request/general/GetStatsRequest.java)

[2022-01-07 22:01] #125 closed

[2022-01-07 22:04] ChristopheCVB commented on #113
Done cf [SetVideoSettingsRequest](https://github.com/obs-websocket-community-projects/obs-websocket-java/blob/5.x.x/develop/client/src/main/java/io/obswebsocket/community/client/message/request/config/SetVideoSettingsRequest.java)

[2022-01-07 22:04] #113 closed

[2022-01-07 22:07] ChristopheCVB commented on #121
It's a string https://github.com/obsproject/obs-websocket/blob/master/docs/generated/protocol.md#getstreamservicesettings

[2022-01-07 22:07] #121 closed

[2022-01-08 12:26] quimodotcom opened #126 "README ERROR"
# Describe the bug
The link on the readme that directs to the maven repo is not functioning properly.

Please fix this link asap

Branch Mentioned: 5.x.x-develep

[2022-01-08 13:54] ChristopheCVB commented on #126
It is the right link, it's just that there has been no release yet of v5.x

[2022-01-08 13:54] #126 closed

[2022-01-09 10:11] quimodotcom commented on #126
ah right. would anyone be able to compile me one real quick???

[2022-01-09 11:28] ChristopheCVB commented on #126
No, because it doesn't come right now because implementation is not finished. But feel free to give a hand and open a PR towards the release goal

[2022-01-09 12:31] quimodotcom commented on #126
Np! I will happily lend a hand. Ill see what I can do!

[2022-01-18 11:09] #114 closed

[2022-05-18 02:42] Blade2021 opened #131 "Unable to Download via Gradle"
# Describe the bug
Using the suggested:
```implementation 'io.obs-websocket.community:client:2.0.0'```

I'm unable to download the library.

# Expected behavior
Self explanatory.

# Additional context

This IS for the 2.0.0 version as I am attempting to use version 5 of the websocket.

[2022-05-18 02:44] Blade2021 commented on #131
![image](https://user-images.githubusercontent.com/1572869/168946476-71778ccb-21ce-4127-9a43-5e5920cb31e2.png)
Missing on MavenCentral as well.

[2022-05-18 06:42] ChristopheCVB commented on #131
Hi there!
v2.0.0 hasn't been released yet.
We still have some work to finish, feel free to join us and open a PR ;)

[2022-05-18 06:42] #131 closed

[2022-05-24 20:09] Blade2021 opened #132 "Reconnect with Password"
# Describe the bug
When trying to reconnect I get this message:

[code]

I have the obs-websocket connecting with a password initially but I don't see a (static) method to do this with the reconnect().  Perhaps I'm missing something?

This is using the 1.2.0 version of the library and 4.9.1 version of the websocket.

# Code Sample
[code]

# Expected behavior
Connect to previous websocket with prev

[2022-05-24 20:23] #132 closed

[2022-05-24 20:23] Blade2021 commented on #132
Not sure why but its working now.  I'll take it :)

[2022-08-24 10:03] wurgo opened #134 "Received message was deserializable but had unknown format"
# Describe the bug
Error message when connecting: Received message was deserializable but had unknown format

# Code Sample
[code]

# Expected behavior
It should connect correctly

# Additional context
It doesn't automatically disconnect after, it's only when I make a request for something that it says the client has disconnected.

[2022-08-24 10:04] wurgo commented on #134
I'm using [this](https://jitpack.io/#obs-websocket-community-projects/obs-websocket-java/5.x.x~develop-SNAPSHOT) btw

[2022-08-28 12:08] TinaTiel commented on #134
I found this when working through updating the V5 stuff on the snapshot. It's partially fixed on my dev branch, the issue is one of the connection classes wasn't serializing the data part of the body correctly. Also, I found one of the error code enums to be missing/incorrect because the new protocol inserted a new code in the middle somewhere.

Would share my branch, but I'm working on updating a

[2022-09-05 09:06] nvdweem commented on #134
@TinaTiel Not to be pushy, but is there an estimate as to when your branch will be done? I came across this issue this weekend and I hacked around it by changing the few commands that I needed which had the issue to make my project work. I decided against fixing it structurally because you mentioned that you are already working on it.

[2022-09-06 10:10] wurgo commented on #134
yeah I'd love to use this

[2022-10-01 16:12] nvdweem commented on #134
I created a fork in which the Request and Response hierarchy has the request/responseData in the correct place in the json. In case it helps development or someone:
https://github.com/nvdweem/obs-websocket-java

[The method](https://jitpack.io/#nvdweem/obs-websocket-java/5.x.x~protocol_update-SNAPSHOT) that @wurgo was using seems to work for this as well :).

[2022-10-01 18:16] wurgo commented on #134
could you release it to jitpack or something?

[2022-10-01 19:17] nvdweem commented on #134
The message you quoted has the link to jitpack.

[2022-10-01 20:20] wurgo commented on #134
sorry!!

[2022-10-03 07:26] ChristopheCVB commented on #134
What about opening a PR?

[2022-10-03 08:19] nvdweem commented on #134
I'd be ok with that but I haven't put in any effort to fix the testcases. @TinaTiel also mentioned that there was another branch on which a lot of things were already fixed so I have no idea how much of the work that I did was already done.

[2022-10-03 08:52] ChristopheCVB commented on #134
Fair enough ;)

[2022-10-08 10:19] nvdweem commented on #134
@ChristopheCVB: I created a pull request.
I fixed the unit tests and from what I can tell, the automated e2e tests also pass (those showed that the close codes were incorrect which TinaTiel also mentioned to have fixed).

[2022-10-11 09:06] TinaTiel commented on #134
Sorry about this, I do not currently have an estimate; there's a number of other things in my life that have had to take priority. My work so far is on the fix-broken-tests-new-protocol branch.

Sorry,

Tina

On Mon, Sep 5, 2022, at 11:06, Niels van de Weem wrote:

[2022-10-13 15:20] #124 closed

[2022-10-14 10:49] ChristopheCVB commented on #74
This is an old list of Request. Closing it in favor of #137

[2022-10-14 10:49] #74 closed

[2022-10-14 10:50] #120 closed

[2022-10-14 10:51] ChristopheCVB commented on #40
This is an old list of Request. Closing it in favor of https://github.com/obs-websocket-community-projects/obs-websocket-java/pull/137

[2022-10-14 10:51] #40 closed

[2022-10-14 10:53] ChristopheCVB commented on #134
Problem is fixed in 2.0.0-SNAPSHOT

[2022-10-14 10:53] #134 closed

[2022-10-14 18:52] wurgo opened #138 "Can't make requests"
# Describe the bug
Every time I make a getRecordStatusRequest request it throws an error.

# Code Sample
[code]

# Expected behavior
It should work 🤷🏼

# Additional context
Here is the error:
[code]

[2022-10-16 18:17] ChristopheCVB commented on #138
As you may expect with a SNAPSHOT build, it can be unstable ;)

[2022-10-16 18:17] #138 closed

[2022-10-23 12:23] ChristopheCVB opened #147 "Lifecycle callbacks should be called in separate threads"
# Describe the bug
Lifecycle callbacks should be called in separate threads

# Code Sample
Simply add a Lifecycle callback when setting up the OBSRemoteController.

# Expected behavior
In order to not to be blocked in our own thread, we should invoke callbacks in a separate thread.

# Additional context
None.

[2022-10-23 12:25] ChristopheCVB opened #148 "Message Generator relies on client to compile"
# Describe the bug
Message Generator relies on client to compile.
It also cleans and replaces the classes in client module directly.

# Code Sample
[code]

# Expected behavior
A clear and concise description of what you expected to happen.

# Additional context
Add any other context about the problem here.

[2022-11-09 01:05] ChristopheCVB opened #149 "Handle `CurrentSceneCollectionChanging` and `CurrentSceneCollectionChanged`"
# Describe the bug
Documentation says that clients shouldn't send requests during a Scene Colection Change

# Expected behavior
Invoke onError Callback upon `CurrentSceneCollectionChanging` Event until receiving `CurrentSceneCollectionChanged` Event

# Additional context
[Documentation](https://github.com/obsproject/obs-websocket/wiki/Notable-changes-between-4.x-and-5.x#events)

[2022-11-22 14:12] ChristopheCVB opened #156 "OBSRemoteControler.disconnect doesn't stop the client"

[2022-11-22 14:24] nvdweem commented on #156
This is a bug/feature that I probably introduced.

The client isn't stopped because it will be reused when connect is called after disconnecting. `obsRemoteController.stop()` should currently stop the client.

[2022-11-22 14:26] Pjiesco commented on #156
Yeah i think this is more a feature than a bug. This gives the option to reuse the client.

[2022-11-22 15:03] #156 closed, assigned to nobody

[2022-11-27 15:06] ChristopheCVB opened #157 "Registering the same Event twice"
# Describe the bug
Registering the same Event twice results in the first one being forgotten

# Code Sample
[code]

# Expected behavior
Both Events callbacks should be invoked.

# Additional context
None.